* {
  margin: 0;
  padding: 0;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 31px;
  height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.btn1 {
  text-decoration: none;
  color: white;
}

.link {
  text-decoration: none;
  color: white;
}
.link:hover{
  text-decoration: underline;
  color: rgb(127, 252, 252);
}

body {
  background: linear-gradient(330deg, black, silver);
  color: white;
  font-family: "Poppins", sans-serif;
}

header {
  align-items: start;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(5px);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.right ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.right li {
  list-style: none;
}

.right li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.right li:hover {
  border-radius: 50px;
  background-color: black;
  font-size: 1.2rem;
  /* text-decoration: underline; */
  /* color: white; */

}

main hr {
  border: 0;
  background-color: white;
  height: 1.2px;
}

.left {
  font-size: 1.5rem;
}

.firstSection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 90px 0;
}

.firstSection > div {
  width: 30%;
}

.leftSection {
  font-size: 2rem;
}

.leftSection .buttons {
  padding: 50px 0;
}

.leftSection .btn {
  padding: 12px;
  background-color: rgb(20, 7, 20);
  color: white;
  border: 2px solid white;
  border-radius: 3px;
  font-size: 20px;
  cursor: pointer;
}

.rightSection img {
  width: 100%;
}

.purple {
  color: black;
}

.text-gray {
  color: gray;
}

#element {
  color: black;
}

footer {
  background-color: rgb(20, 19, 19);
}

.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(20, 19, 19);
}

.footer ul {
  list-style: none;
}

footer .footer-rights {
  text-align: center;
  color: gray;
  padding: 12px;
}

.footerimg {
  width: 25px;
}
footer .footersecond {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer ul li {
  display: flex;
  margin-left: 50px;
  margin-top: 10px;
  float: left;
}

@media screen and (max-width: 1200px) {
  .toggle-button {
    display: flex;
  }
  .right {
    display: none;
    width: 100%;
  }
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .right ul {
    width: 100%;
    flex-direction: column;
  }
  .right li {
    text-align: center;
  }
  .right li a {
    padding: 0.5rem 1rem;
  }
  .right.active {
    display: flex;
  }

  .leftSection {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .rightSection {
    width: 350px !important;
    display: flex;
    margin-top: 100px;
  }

  .box {
    flex-direction: column;
  }

  .firstSection {
    flex-direction: column;
  }

  .image-top {
    top: 122px;
  }
}
