#myPDF {
  width: 100%;
  height: 100vh;
/* for pdf */
}

header a {
  text-decoration: none;
}

body::-webkit-scrollbar{
  display: none;
}

/* 
@media screen and (max-width: 900px) {
  .resume {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .resume {
    width: 100%;
  } */
/* } */
