#myPDF {
  width: 100%;
  height: 100vh;
}

header a {
  text-decoration: none;
}

/*@media screen and (max-width: 900Px) {
    .resume{
 width: 100%;       
    }
}
    @media screen and (max-width: 400Px) {
    .resume{
 width: 100%;       
    }
} */
